:root{
    --fontHeading: 'PT Sans', sans-serif;
    --fontParrafo: 'Open Sans', sans-serif;
    
    --fontprimary: rgb(0, 77, 166);
    --fontsecondary: rgb(0, 32, 70);
    --backDark: rgb(39, 39, 39);
    --backLight: rgb(203, 203, 203);
    --primary: #166FE5;
    --secondary: #0058bc;
    --thirdy: #0060cd;
    --celeste: #01ACC0;
    --celeste1: #00828D;
    --agua: #26C98A;
    --agua1: #00975E;
    --verde: #42b72a;
    --verdeLog: #379d23;
    --verdeLogB: #267816;
    --rojo: #C03425;
    --rojo1: #a5281b;
    --rojo2: #e34331;
    --naranja: rgb(255, 160, 87);
    --naranja1: rgb(206, 126, 65);
    --morado: rgb(147, 70, 255);
    --morado1: rgb(101, 47, 175);
    --gris: #919395;
    --blanco: #fff;
    --blanco1:rgb(255, 255, 255);
    --blancoH: #c3dfff;
    --negro: #000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before{
    box-sizing: inherit;
}
body{
    font-family: var(--fontParrafo);
    font-size: 1.6rem;
    line-height: 2;
    display: grid;
    grid-template-rows: repeat(3,auto);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (prefers-color-scheme: dark) {
    body { 
        background: var(--backDark); 
    }
}
@media (prefers-color-scheme: light) {
    body { 
        background: var(--backLight); 
    }
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fontHeading);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}

/*GLOBALS*/

/*LOGIN*/
.contenedor{
    width: 100%;
    margin: 0 auto;
    position: fixed;
}
.contentForm {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formLogin {
    background-color: var(--blanco);
    display: grid;
    border-radius: 1rem;
    padding: 3rem;
}
.formTitle {
    text-align: center;
}
.formTitle label {
    color: var(--primary);
    font-size: 3rem;
}
.input-text label {
    color: var(--fontprimary);
    font-size: 2rem;
}
.input-text {
    padding-top: 2rem;
}
.input-text input {
    color: var(--fontsecondary);
    width: 100%;
    outline: none;
    height: 3.5rem;
    border-radius: 0.4rem;
    border: var(--gris) solid 0.1rem;
}
.button-login {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.books,
.authors{
    padding-top: 8rem;
}

.button-login button,
.users button,
.authors button,
.books button {
    width: 100%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--verdeLog);
    border: var(--verdeLogB) solid 0.2rem;
    color: var(--blanco);
}
.button-login button:hover,
.users button:hover,
.authors button:hover,
.books button:hover {
	cursor: pointer;
    background-color: var(--verde);
}
.vinculo {
    display: block;
    text-align: right;
    font-size: 1.8rem;
    color: var(--primary);
}

/*HOME*/
/*Utilidades*/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/*Header*/
.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto{
    text-align: center;
    color: var(--negro);
    margin-top: 5rem;
}
@media (min-width: 768px){
    .header__texto{
        margin-top: 15rem;
    }
}
.barra{
    padding: 1rem 10rem;
    background-color: var(--primary);
}
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
    }
}
.logo{
    color: var(--blanco);
}
.logo__nombre{
    font-size: 3rem;
}
.logo__bold{
    font-weight: 700;
}
@media (max-width: 1080px) {
    .logo__nombre{
        font-size: 4rem;
    }
}
@media (max-width: 1000px) {
    .logo__nombre{
        font-size: 3rem;
    }
}
@media (max-width: 880px) {
    .logo__nombre{
        font-size: 2.5rem;
    }
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 3rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    cursor: pointer;
}
.navegacion__enlace:hover{
    color: var(--blancoH);
}
.derecha{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
}
.button{
    width: 100%;
    border: var(--backDark) solid 2px;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--blanco);
}
.btn-1{
    background-color: var(--verde);
}
.btn-1:hover{
    color: var(--verde);
    background: transparent;
    border: 2px solid;
    border-color: var(--verde);
    cursor: pointer;
}
.btn-2{
    background-color: var(--rojo);
}
.btn-2:hover{
    color: var(--rojo);
    background: transparent;
    border: 2px solid;
    border-color: var(--rojo);
    cursor: pointer;
}
@media (min-width: 768px) {
    .button{
        width: auto;
    }
}
.w-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-100{
        width: auto;
    }
}
@media (max-width: 528px) {
   .derecha{
       flex-direction: column;
    }
}
/*inputs*/
@media (min-width: 768px) {
    .dos-columnas{
        display: grid;
        /*grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2, 50%);
        grid-template-columns: 1fr 1fr;*/
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .tres-columnas {
        padding: 2rem;
        display: grid;
        /*grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2, 50%);
        grid-template-columns: 1fr 1fr;*/
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
    .mosaico {
        padding: 2rem;
        display: grid;
        /*grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2, 50%);
        grid-template-columns: 1fr 1fr;*/
        grid-template-columns: repeat(6,1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        align-content: flex-start;
    }
    .mosaicotop {
        padding: 2rem;
        display: grid;
        /*grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2, 50%);
        grid-template-columns: 1fr 1fr;*/
        grid-template-columns: repeat(5,1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        align-content: flex-start;
    }
}
.grafo {
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 4 / 7;
}
.grafo--matriz {
    grid-row: 1 / 5;
}
.grafo--arbol-binario {
    grid-row: 1 / 6;
}
.msg {
    color: var(--blanco);
    grid-column: 1 / 6;
}
.input{
    outline: none;
    min-width: 100%;
    height: 40rem;
    resize: none;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile-1 + label {
    text-align: center;
    background-color: var(--thirdy);
    color: var(--blanco);
    border-radius: 0.4rem;
    border: var(--fontprimary) solid 0.2rem;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: var(--primary);
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
.iborrainputfile {
	font-size:1.6rem; 
	font-weight:normal;
    cursor: pointer;
    font-size: 1.8rem;
}

.bodyCharge {
    width: 100%;
    padding: 8rem 8rem 0 8rem;
    display: grid;
    flex-direction: row;
    row-gap: 1rem;
}

.mybooks h2,
.users h2,
.authors h2,
.books h2 {
	color: var(--blanco);
	margin: auto;
    font-family: var(--fontParrafo);
    font-size: 4rem;
}

.users h3,
.authors h3,
.books h3 {
	color: var(--blanco1);
	margin: auto;
    font-family: var(--fontParrafo);
    font-size: 3rem;
}

footer {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    padding: 10rem;
}

footer button {
    width: 20%;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--rojo);
    border: var(--rojo1) solid 0.2rem;
    color: var(--blanco);
}

footer button:hover {
	cursor: pointer;
    background-color: var(--rojo2);
}
.autor {
    background-color: var(--morado);
    border-radius: 0.4rem;
    border: var(--morado1) solid 0.2rem;
    padding: 1rem 1.2rem 1rem 1.5rem;
    cursor: pointer;
    height: 100%;
    text-align: center;
}
.libro {
    background-color: var(--naranja);
    border-radius: 0.4rem;
    border: var(--naranja1) solid 0.2rem;
    padding: 1rem 1.2rem 1rem 1.5rem;
    cursor: pointer;
    height: 100%;
}
.mi-libro {
    background-color: var(--agua);
    border-radius: 0.4rem;
    border: var(--agua1) solid 0.2rem;
    padding: 1rem 1.2rem 1rem 1.5rem;
    height: 100%;
}
.vende-libro {
    background-color: var(--celeste);
    border-radius: 0.4rem;
    border: var(--celeste1) solid 0.2rem;
    padding: 1rem 1.2rem 1rem 1.5rem;
    cursor: pointer;
    height: 100%;
}
.autor h4,
.autor h5,
.libro h4,
.libro h5,
.mi-libro h4,
.mi-libro h5,
.vende-libro h4,
.vende-libro h5 {
    margin: auto;
    color: var(--blanco);
    text-align: center;
}
.autor h5,
.libro h5 {
    font-size: 1.8rem;
}
.autor p,
.libro p,
.mi-libro p,
.vende-libro p {
    margin: auto;
    color: var(--blanco);
}
.graphs h4,
.mosaico h4,
.mosaicotop h4 {
    color: var(--blanco);
}
.fondo_transparente{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.765);
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal{
    background: var(--blanco);
    width: 600px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    border-radius: 3rem;
}
.modal_cerrar{
    background: white;
    position: absolute;
    right: -20px;
    color: crimson;
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal_titulo{
    color: white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: crimson;
    border-radius: 3rem 3rem 0 0;
}
.modal_mensaje{            
    padding: 10px 30px;
    text-align: center;
}
.modal_autor_bio {
    width: 100%;
    height: 100%;
    text-align: left;
}
.modal_botones{
    width: 100%;    
    background: whitesmoke;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 3rem 3rem;
}
.boton{
    background: white;
    padding: 8px 30px;
    color: crimson;
    text-decoration: none;
    border-radius: 25px;
    border:1px solid crimson
}
.boton:hover{
    background: crimson;
    color: white;
    cursor: pointer;
}